<div class="row">
  
  <div class="container">
    <nav class="navbar navbar-light bg-light">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="button" (click)=goToNetwork()>Back</button>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" name="searchText" [(ngModel)]="searchText" (ngModelChange)="search(searchText)" placeholder="Search..." aria-label="Search">
        </form>
      </nav>
      <ul class="list-group">
        <li class="list-group-item justify-content-between align-items-center">
          <span>
            <span style="font-weight: bold;">Not here? Send an invitation.</span>
            <span style="float:right" title="invite" (click)="invite()"><i class="fas fa-share-alt"></i></span>
          </span>
          </li>
        <li class="list-group-item justify-content-between align-items-center" *ngFor="let buddy of buddies">
            <span>
              <img *ngIf="buddy.photoURL;else other_content" [src]="buddy.photoURL" style="width:35px;border-radius:25px;">
              <ng-template #other_content>
                  <img src="../../assets/img/chatterplace.png" style="width:35px;border-radius: 25px;">
              </ng-template>
              <span style="display: inline-grid;padding: 5px;">{{buddy.displayName}}
                  <span class="comments-font">{{buddy.userLocation}}</span>
                </span>
                <span style="float:right" title="add" (click)="addInNetwork(buddy.uid)"><i class="fas fa-user-plus"></i></span>
            </span>
        </li>
        <span class="comments-font" *ngIf="noData">
            You haven’t added anyone to
            your network.
        </span>
      </ul>
    </div> 
  </div>