<div class="container-fluid">
    <div class="col-sm-12">
    <div class="row content" style="margin: 20px;">
          <div class="col-sm-3">
            <div class="card border-secondary mb-3" style="min-height:150px;max-height: 150px;">
              <div class="card-body">
                  <a class="nav-link" [routerLink]="['/users']" style="margin: 34px;">Users</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card border-secondary mb-3" style="min-height:150px;max-height: 150px;">
              <div class="card-body">
                  <a class="nav-link" [routerLink]="['/spamlist']" style="margin: 34px;">Spam Reports</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>