<!-- <p>
  login works!
</p> -->
<div class="firebaseui-auth-container">
  <div class="firebaseui-container">
    <div class="firebaseui-card-content">
      <form action="">
        <ul class="firebaseui-idp-list">
          <li class="firebaseui-list-item">
            <a href="/" class="firebaseui-idp-button"><img src="../../assets/img/musician_logo.png" alt="Musical App" style="width: 250px;"></a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
<firebase-ui (signInSuccess)="signInSuccessWithAuthResult($event)"></firebase-ui>
