<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>
        <img class="title-image" src="{{chatWith.photoURL ? chatWith.photoURL : 'assets/images/chatterplace.png'}}" onError="this.src='assets/images/chatterplace.png'" > <span class="chat-displayname">{{chatWith.displayName}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content #content>
  <div class = "chatwindow">
    <ion-list no-lines>
        <ion-item *ngFor = "let item of allmessages; let i = index" text-wrap>
            <div class="bubble me" *ngIf="item.sender != currentUser.uid">
              <h3 >{{item.message}}</h3>
            </div>
            <div class="bubble you" *ngIf="item.sender === currentUser.uid">
              <h3>{{item.message}}</h3>
            </div>
          </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer ion-fixed>    
  <ion-toolbar class="no-border" color="white">        
    <ion-input [(ngModel)]="newmessage" placeholder="Type something"></ion-input>  
    <ion-buttons end>
      <button ion-button (click)="addmessage()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>    
</ion-footer>