<div *ngIf="!loginFlag" class="firebaseui-auth-container">
    <div class="firebaseui-container">
        <div class="account-wall">
            <img class="profile-img" src="../../../assets/img/musician_logo.png"
                alt="">
            <form class="form-signin" #f="ngForm" (ngSubmit)="login(loginDetails)">
              <input type="text" class="form-control" placeholder="Email" required autofocus name="email" [(ngModel)]='loginDetails.email'>
              <input type="password" class="form-control" placeholder="Password" name="password" required [(ngModel)]='loginDetails.password'>
              <div class="firebaseui-card-content">
                <ul class="firebaseui-idp-list">
                  <li class="firebaseui-list-item"> 
                    <button  class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-password firebaseui-id-idp-button" type="submit">
                      <span class="firebaseui-idp-icon-wrapper">
                          <img class="firebaseui-idp-icon" alt="" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/mail.svg">
                      </span>
                      <span class="firebaseui-idp-text firebaseui-idp-text-long">Sign in</span>
                    </button>
                  </li>
                </ul>
                <label class="checkbox pull-left">
                  <input type="checkbox" value="remember-me">
                  Remember me
                </label>
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
              </div>
          </form>
          </div>
    </div>
  </div>

